<div class="page-header">
  <h1 class="title">
    User overview
  </h1>
  <div class="actions-panel">
    <select multiple="multiple" multiselect="" ng-change="applyStandaloneFilter(&#39;usergroup&#39;, selectedGroups)" ng-model="selectedGroups" ng-options="usergroup.name as usergroup.name for usergroup in usersFactory.usergroups" placeholder="Filter usergroups"></select>
    <div class="input-group search-box">
      <input class="form-control" ng-model="username_scope" placeholder="Search for user" type="text" /><span class="input-group-btn"><button class="btn btn-default btn-icon" ng-click="applyStandaloneFilter(&#39;name&#39;, username_scope)" type="button"><i class="fa fa-search"></i></button></span>
    </div>
    <button class="btn btn-default btn-icon-left" ng-class="show_filters ? &#39;active&#39; : &#39;&#39;" ng-click="toggleFiltersPanel()"><i class="fa fa-sliders"></i>Advanced filter</button><button class="btn btn-primary">Add user</button>
  </div>
</div>
<div class="content">
  <div class="panel panel-default filters" ng-show="show_filters">
    <div class="panel-heading">
      <h3 class="panel-title">
        Advanced filter
      </h3>
    </div>
    <div class="panel-body">
      <advance-filter></advance-filter>
      <div class="filter" ng-repeat="filter in added_filters">
        <select class="filter-control" multiselect="" ng-change="refreshFilter(filter)" ng-model="filter.field" ng-options="field as field.name for field in filter_fields" placeholder="Filter field"></select><select class="filter-control" multiselect="" ng-if="filter.field.show_comparators" ng-model="filter.comparator" ng-options="comparator as comparator.label for comparator in comparators[filter.field.type]" placeholder="Filter comparator"></select><filter-value compare="filter.compareWith" field="filter.field"></filter-value><button class="btn btn-icon btn-danger remove" ng-click="removeFilter(filter)"><i class="fa fa-close"></i></button>
      </div>
      <button class="btn btn-info add-filter" ng-click="addNewFilter()" ng-disabled="added_filters.length ? !filtersAreFilled() : false">Add row</button>
    </div>
    <div class="panel-footer">
      <button class="btn btn-success" ng-click="applyFilters()" ng-disabled="!filtersAreFilled()">Apply</button><button class="btn btn-default" ng-click="clearFilters()" ng-disabled="!added_filters.length">Clear filters</button><a class="btn btn-danger btn-link" href="" ng-click="toggleFiltersPanel()">Close</a>
    </div>
  </div>
  <div class="table-header">
    <div class="results">
      <span class="label">Results:</span><span class="value" ng-bind="filtered.length"></span>
    </div>
    <div class="actions-panel">
      <div class="pagination">
        <div class="prev disabled">
          <a href="#">First</a>
          <div class="delimiter"></div>
          <a href="#">Previous</a>
        </div>
        <div class="current">
          Page<input class="form-control" ng-model="currentPage" type="text" />of&nbsp;<span class="total-count">99</span>
        </div>
        <div class="next">
          <a href="#">Next</a>
          <div class="delimiter"></div>
          <a href="#">Last</a>
        </div>
      </div>
      <select multiselect="">
        <option>
          10 rows
        </option>
        <option>
          25 rows
        </option>
        <option>
          50 rows
        </option>
      </select>
    </div>
  </div>
  <table class="table users">
    <thead>
      <tr>
        <th>
          <input id="select-all" ng-click="usersFactory.selectAllUsers()" type="checkbox" />Username
        </th>
        <th>
          Email
        </th>
        <th>
          Replies
        </th>
        <th>
          Topics
        </th>
        <th>
          Solved
        </th>
        <th>
          Usergroup
        </th>
        <th>
          Registration date
        </th>
        <th>
          Last login
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="user" ng-class="usersFactory.isSelected(user) ? &#39;info&#39; : &#39;&#39;" ng-repeat="user in filtered | startFrom: (currentPage-1) * pageSize | limitTo:pageSize ">
        <td>
          <input id="bulk-action-for-{{user._id}}" name="check" ng-click="usersFactory.selectUser(user)" type="checkbox" /><img class="avatar" src="http://lorempixel.com/34/34/people/?{{user._id}}" /><span ng-bind="user.name"></span><button class="btn btn-default btn-icon btn-link copy"><i class="fa fa-clone"></i></button>
        </td>
        <td ng-bind="user.email"></td>
        <td ng-bind="user.replies"></td>
        <td ng-bind="user.topics"></td>
        <td ng-bind="user.solved"></td>
        <td ng-bind="user.usergroup"></td>
        <td ng-bind="user.registered | date:&#39;dd MMM yyyy&#39;"></td>
        <td ng-bind="user.last_login | date:&#39;dd MMM yyyy&#39;"></td>
      </tr>
    </tbody>
  </table>
</div>
